Repository codesquad-member-2020/sidedish-02, pull requests merged in 2020-04, with the labels that each got.

#7 반찬상품목록 UI 구현
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Assets.xcassets/badge-event.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/badge-gift.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/badge-soldout.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/keyColor.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/subtitle-gray.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/HomeViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductCell.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductHeaderCell.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductHeaderCell.xib
Labels: enhancement, iOS

#9 Price Label 구현
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/Extensions/String+Extension.swift
  ios/SideDishApp/SideDishApp/Extensions/UIStackView+Extension.swift
  ios/SideDishApp/SideDishApp/Views/Product/NormalPriceLabel.swift
  ios/SideDishApp/SideDishApp/Views/Product/PriceLabelsStackView.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductCell.swift
  ios/SideDishApp/SideDishApp/Views/Product/SalePriceLabel.swift
Labels: enhancement, iOS

#12 BadgeLabel 커스텀 클래스 구현
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/Views/Product/BadgeLabel.swift
  ios/SideDishApp/SideDishApp/Views/Product/BadgesStackView.swift
  ios/SideDishApp/SideDishApp/Views/Product/PaddingLabel.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductCell.swift
Labels: enhancement, iOS

#17 Category label 구현
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Views/Product/CategoryLabel.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductHeaderCell.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductHeaderCell.xib
Labels: enhancement, iOS

#18 반찬목록 ViewController 리팩토링
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
  ios/SideDishApp/SideDishApp/Views/Product/Badge/BadgeLabel.swift
  ios/SideDishApp/SideDishApp/Views/Product/Badge/BadgeLabelsStackView.swift
  ios/SideDishApp/SideDishApp/Views/Product/Price/FinalPriceLabel.swift
  ios/SideDishApp/SideDishApp/Views/Product/Price/OriginalPriceLabel.swift
  ios/SideDishApp/SideDishApp/Views/Product/Price/PriceLabelsStackView.swift
  ios/SideDishApp/SideDishApp/Views/Product/PriceLabelsStackView.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductCell.swift
Labels: Refactoring, iOS

#21 DetailViewController 구현
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Assets.xcassets/back.button.symbolset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/back.button.symbolset/arrow.left.svg
  ios/SideDishApp/SideDishApp/Assets.xcassets/test1.imageset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/test1.imageset/test1.jpg
  ios/SideDishApp/SideDishApp/Assets.xcassets/test2.imageset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/test2.imageset/test2.jpg
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/ViewControllers/DetailViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
  ios/SideDishApp/SideDishApp/Views/Detail/OrderButton.swift
Labels: enhancement, iOS

#22 section header에 gesture recognizer 추가 및 Toast 임포트
  ios/.gitignore
  ios/SideDishApp/Podfile
  ios/SideDishApp/Podfile.lock
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ios/SideDishApp/SideDishApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductHeaderCell.swift
Labels: enhancement, iOS

#26 html/css 작성
  fe/src/index.css
  fe/src/index.js
  fe/src/reset.css
Labels: FE

#27 반찬목록 네트워크 요청
  ios/SideDishApp/Podfile
  ios/SideDishApp/Podfile.lock
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Model/Category.swift
  ios/SideDishApp/SideDishApp/Model/Product.swift
  ios/SideDishApp/SideDishApp/Model/ProductList.swift
  ios/SideDishApp/SideDishApp/Model/Products.swift
  ios/SideDishApp/SideDishApp/Network/NetworkManager.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
Labels: enhancement, iOS

#30 fetch된 네트워크 데이터 화면에 업데이트
  ios/SideDishApp/SideDishApp/Info.plist
  ios/SideDishApp/SideDishApp/Model/Product.swift
  ios/SideDishApp/SideDishApp/Model/Products.swift
  ios/SideDishApp/SideDishApp/Network/NetworkManager.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductCell.swift
Labels: enhancement, iOS

#34 Ios/refactor/network
  ios/SideDishApp/SideDishApp/Network/NetworkManager.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductCell.swift
Labels: Refactoring, iOS

#35 반찬리스트 피드백 반영
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Assets.xcassets/black.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/darkGray-white.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/default-bg.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/detail-boundary-view.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/detail-clear.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/header-shadow.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/headerview-bg.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/Model/Products.swift
  ios/SideDishApp/SideDishApp/ViewControllers/DetailViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductCell.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductHeaderCell.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductHeaderCell.xib
  ios/SideDishApp/SideDishApp/Views/Product/ProductHeaderView.swift
Labels: Refactoring, iOS

#36 이미지 캐싱 구현
  ios/SideDishApp/SideDishApp/Assets.xcassets/loading-color.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Network/NetworkManager.swift
  ios/SideDishApp/SideDishApp/Views/Product/ProductCell.swift
Labels: enhancement, iOS

#42 상세페이지 업데이트 구현
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/Model/Detail/Detail.swift
  ios/SideDishApp/SideDishApp/Model/Detail/DetailContainer.swift
  ios/SideDishApp/SideDishApp/Model/Product/Category.swift
  ios/SideDishApp/SideDishApp/Model/Product/Product.swift
  ios/SideDishApp/SideDishApp/Model/Product/ProductList.swift
  ios/SideDishApp/SideDishApp/Model/Product/Products.swift
  ios/SideDishApp/SideDishApp/Network/NetworkManager.swift
  ios/SideDishApp/SideDishApp/ViewControllers/DetailViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/ThumbnailViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/ThumbnailsPageViewController.swift
  ios/SideDishApp/SideDishApp/Views/Detail/DetailImagesStackView.swift
Labels: enhancement, iOS

#45 배포된 서버에 요청 및 스크롤뷰 기능 구현
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/Model/Detail/Detail.swift
  ios/SideDishApp/SideDishApp/Model/Detail/DetailContainer.swift
  ios/SideDishApp/SideDishApp/Model/Product/Product.swift
  ios/SideDishApp/SideDishApp/Model/Product/ProductList.swift
  ios/SideDishApp/SideDishApp/Network/NetworkManager.swift
  ios/SideDishApp/SideDishApp/ViewControllers/DetailViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
Labels: Refactoring, enhancement, iOS

#47 폰트 변경 및 뷰 수정
  ios/SideDishApp/SideDishApp/Assets.xcassets/subtitle-gray.colorset/Contents.json
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/Views/Product/ProductHeaderView.swift
Labels: enhancement, iOS

#49 메인 페이지, 상세 페이지 구현
  fe/.gitignore
  fe/README.md
  fe/package-lock.json
  fe/package.json
  fe/public/index.html
  fe/public/manifest.json
  fe/public/robots.txt
  fe/src/App.css
  fe/src/App.js
  fe/src/ModalPortal.js
  fe/src/component/DishDetail.jsx
  fe/src/component/DishList.jsx
  fe/src/component/DishWrap.jsx
  fe/src/constants/name.js
  fe/src/constants/url.js
  fe/src/index.css
  fe/src/index.js
  fe/src/reset.css
  fe/src/serviceWorker.js
  fe/src/setupTests.js
Labels: FE, fe리뷰요청

#50 썸네일 이미지 인덱스 뷰 구현
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Assets.xcassets/circle.fill.symbolset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/circle.fill.symbolset/circle.fill.svg
  ios/SideDishApp/SideDishApp/ViewControllers/DetailViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/ThumbnailsPageViewController.swift
  ios/SideDishApp/SideDishApp/Views/Detail/ImageIndexStackView.swift
Labels: enhancement, iOS

#51 상세페이지 detail 이미지 렌더링
  fe/public/index.html
  fe/src/App.js
  fe/src/component/DishDetail.jsx
  fe/src/component/Login.jsx
  fe/src/index.css
Labels: FE

#53 로그인 구현
  ios/SideDishApp/SideDishApp.xcodeproj/project.pbxproj
  ios/SideDishApp/SideDishApp/Assets.xcassets/github.icon.imageset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/github.icon.imageset/github.icon.jpg
  ios/SideDishApp/SideDishApp/Assets.xcassets/signin-bg-2.imageset/Contents.json
  ios/SideDishApp/SideDishApp/Assets.xcassets/signin-bg-2.imageset/signin-bg-2.jpeg
  ios/SideDishApp/SideDishApp/Base.lproj/Main.storyboard
  ios/SideDishApp/SideDishApp/Info.plist
  ios/SideDishApp/SideDishApp/ViewControllers/SideDishProductsViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SignInAuthWebViewController.swift
  ios/SideDishApp/SideDishApp/ViewControllers/SignInViewController.swift
Labels: enhancement, iOS
